@import '../../styles/variables.scss';

.container {
  min-width: 20rem;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(
    140deg,
    hsl(240deg 100% 20%) 0%,
    hsl(261deg 99% 24%) 24%,
    hsl(270deg 97% 28%) 41%,
    hsl(277deg 95% 32%) 54%,
    hsl(283deg 93% 36%) 64%,
    hsl(289deg 93% 40%) 73%,
    hsl(294deg 94% 43%) 81%,
    hsl(299deg 96% 45%) 90%,
    hsl(303deg 100% 50%) 100%
  );
}


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .avatar {
    width: 6rem;
    border: 2px solid $N000;
    border-radius: 50%;
    box-sizing: border-box;    
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    will-change: float;
    animation: float 6s ease-in-out infinite;

    img { width: 100%; height: auto; }
  }
  
  h3 {
    color: $N000;
    font-size: 2rem;
    padding: 1rem 0 0.5rem 0 ;
    font-family: 'Ms Madi', cursive;
  }

  .divider {
    margin: 10px auto;
    border-top: 1px solid $N000;
    opacity: 0.5;
    width: 40%;
  }

  .links {
    margin-top: .80rem;
    margin-bottom: 1rem;

    ul {
      list-style: none;
      padding: 0;
      text-align: center;
      li {
        font-weight: 600;

        a {
          text-decoration: none;
          color: $N000;
          transition: color .3s ease-in-out;
        }
        a:hover {
          color: $DARKBLUE
        }
      }
    }
  }

  .social {
    color: $N000;
    opacity: 0.85;
    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline;
        font-size: 1.5rem;

        a {
          padding: 6px 8px;
          text-decoration: none;
          will-change: transform;
          transition: transform 450ms ease-in-out;
        
          >:hover {
            transition: transform 125ms;
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/*@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}*/