@use "colors";

.button {
  color: colors.$PURPLE;
  background-color: colors.$N000;
  border: solid 0.056rem colors.$PURPLE;
  padding: 0.2rem 0.7rem;
  font-family: "Ubuntu", sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;

  .label {
    margin-left: 0.35rem;
  }

  &:hover {
    background-color: colors.$PURPLE;
    color: colors.$N000
  }
}