@use 'colors';
@use 'fonts';

.postContainer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  
  .aside {
    width: 18%;
    height: auto;
    display: flex;
    flex-direction: column;

    .day {
      font-size: fonts.$gigantText;
      font-family: fonts.$especialFont;
      color: colors.$N300;
      display: flex;
      justify-content: end;
      margin: -10px 0 0 0 ;
    }
    
    .vertical {
      width: 85%;
      height: 50%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid colors.$primaryColor;
      color: colors.$N500;
      
      .month {
        font-family: fonts.$especialFont;
        font-size: fonts.$largeText;
        padding-left: 24%;
        margin: -24px 0 0 0;
      }

      .year {
        font-family: fonts.$especialFont;
        color: colors.$N200;
        padding-left: 24%;
        margin: 0 0 20% 0 ;
      }

      .comment {
        font-size: fonts.$smallText;
        margin: 15% 0 0 0;
      }
    }
  }
  
  .content {
    flex: 1;
    padding: 40px;

    >.title {
      font-size: fonts.$largeText;
      font-family: fonts.$especialFont;
      font-weight: bold;
    }

    >.author {
      color: colors.$N500;
      margin: 12px 0;
    }

    >.image {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    >.post {

    }

    >.readMore {
      display: flex;
      justify-content: flex-end;
      font-size: fonts.$mediumText;
      text-decoration: underline dashed;
      cursor: pointer;
    }
    
  }

  

}