@import '../../styles/variables.scss'; 

.tag {
  color: $N000;
  opacity: 0.9;
  background-color: $PURPLE;
  font-size: .5rem;
  border-radius: .25rem;
  padding: .167rem .25rem;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 500;
}

.tag + .tag {
  margin-left: .3rem;
}