//Cores Globais
$DARKBLUE: #000066;
$PINK: #FF00F2;
$PURPLE: #48028d;

$primaryColor: #162650;
$secondaryColor: #9448bc;
$terciaryColor: #f3f1fc;

$N000: #FFFFFF;
$N100: #F7F7F7;
$N200: #D8D8D8;
$N300: #C5C5C5;
$N500: #8B8B8B;

